<div>
  <div>
    <h1>
      List of all notes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new note
    </h2>

    <form action="/insert_note" method="post">
      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body">
      </div>

      <div>
        <label for="document_id_box">
          Document
        </label>

        <input type="text" id="document_id_box" name="query_document_id">
      </div>
      
      <div>
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      </div>
      
      <button>
        Create note
      </button>
    </form>
  </div>
</div>
